:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-900: hsl(212, 21%, 14%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--clr-primary-100);
  color: var( --clr-neutral-400);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 1.3em 1em;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* card style */
.product-card-container {

  background-color: var(--clr-neutral-100);
  border-radius: 8px;
 
}
 

.image-mobile {
  border-radius: 8px 8px 0 0;
}
.image-desktop{
    display: none;
}
.product-body {
    padding: .8em; 
}
.small-text{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 0.4em;
    
}
.title{
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: var(--clr-neutral-900);
    font-size: 1.75rem;
    line-height: 1.1;
    margin-bottom: .4em;
}
.description{
    margin-bottom: .4em;
}
.product-price-container{
    width: 50%;
    display: flex;
    gap: 1rem;
    margin-bottom: .8em;
}
.actual-price{
    font-family: "Fraunces", serif;
    color: var(--clr-primary-400);
    font-size:1.375rem;
    font-weight: 700;
}


.add-to-card-btn{
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    width: 100%;
    display: block;
    padding: 1em 3em;
    border-radius: 5px;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

.cart-icon{
    margin-right: .4em;
    
}



/* footer style */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
     
}

@media screen and (min-width: 992px) {
     .product-card{
        display: flex;
        
     }
     .image-mobile{
        display: none;
     }
     .image-desktop{
        display: block;
        border-radius: 8px 0 0 8px;
     }
     .product-card-container{
        width: 50%;
     }

     .product-body{
        padding: 2em;
     }
     .small-text{
        margin-bottom: 1.5em;
     }
     .title{
        margin-bottom: 1em;
     }
     .product-price-container{
        margin-bottom: 1.5em;
     }
    .title{
        max-width: 200px;
    }
    .description{
        max-width: 470px;
        margin-bottom: 1.5em;
    }
  }
  